*.iml
*.ipr
*.iws
*.msg
*.sw?
*/src/main/java/META-INF
.classpath
.DS_Store
.gradle
.idea
.pmd
.project
.settings
bin
build
out
target
.springBeans
.sts4-cache
/normalizer/cardTransactionInput/
/normalizer/cardTransactionOutput/
